:root {
  --font-poppins: "Poppins", sans-serif;

  --font-weight-normal: 400;
  --font-weight-bold: 600;

  --tundora: #2d2d2d;
  --gray: #6a6a6b;
  --iron: #edecec;
  --gallery: #ededed;
  --carnation: #f7655f;
  --caribbean-green: #08e09d;
  --cornflower-blue: #579bf1;
  --white: #fff;
}
